[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "ApoyoSolutions/empresa"]
	path = ApoyoSolutions/empresa
	url = git@github.com:ApoyoSolutions/empresa.git
	branch = master

[submodule "ApoyoSolutions/db_ecuador"]
	path = ApoyoSolutions/db_ecuador
	url = git@github.com:ApoyoSolutions/db_ecuador.git
	branch = main
